@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    font-family:Lato, sans-serif;
}
#content-wrapper{
    text-align:center;
}
body{
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
    color:black;
    height:100%;
    width:100%;
    display:block;
}
h3{
    font-size:1em;
    font-weight:100;
    margin:0;
}
h3 img{
    margin-right:0.2em;
    height:0.75em;
    width:auto;
}
.trust-star{
    display: inline-block;
    color: white;
    background-color: #007f4e;
    border-radius: 0.15em;
    margin: 0 0.05em;
    padding: 0 0.15em 0.15em;
    line-height:100%;
    font-size:1.4em;
}
#trust-stars #rebrand-stars{
    width:9.15em;
    position: relative;
    top:0.14em;
}
.tp-rebrand-star .tp-rebrand-star__canvas{
    fill: #00B67A;
}
#review-count{
    margin:0;
    font-size:0.8em;
}