@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    font-family:Lato, sans-serif;
}
#content-wrapper{
    text-align:center;
}
body{
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
    color:black;
    height:100%;
    width:100%;
    display:block;
}
h3{
    font-size:14px;
    font-weight:100;
    margin:0;
}
h3 img{
    margin-right:2px;
}
.trust-star{
    display: inline-block;
    color: white;
    background-color: #007f4e;
    border-radius: 2px;
    margin: 0 1px;
    padding: 0 3px 2px 3px;
    font-size: 22px;
    line-height: 100%;
}
#review-count{
    margin:0;
    font-size:12px;
}